/crab_omtf_nn_MC_analysis_*/
/*.root
/*.txt
/*.log
/crab_omtf_nn_MC_*/
/crab_L1TkMuonBayes_MC_analysis_*/
/crab_omtf_nn_MC_analysis_SingleNeutrino_PU200_v2_t67
/crab_omtf_nn_MC_analysis_SingleNeutrino_PU200_v2_t68
